.feactureSection h2{
  color: rgb(232, 48, 8);
  font-weight: bold;
  font-size: 180%;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background-color: #fff;
  padding: 2%;
  width: 200px;
 height: auto;
  margin: 1%;
  line-height: 120%;
  color: black;
  font-size: 130%;
  text-align: center;
  border: 1px solid black;
  -webkit-box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.75);
}
